name: HTML validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  html-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install html-validate
        run: npm install -g html-validate
      - name: Run html-validate
        run: html-validate "*.html" --verbose
